<header class="navbar navbar-header navbar-header-fixed shadow p-3 mb-5 bg-white rounded">
  <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
  <div class="navbar-brand">
    <a href="/" class="df-logo"><img src="/images/logo.png" height="50px" /></a>
  </div><!-- navbar-brand -->
  <div id="navbarMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
      <a href="/" class="df-logo"><img src="/images/logo.png" height="50px" /></a>
      <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
    </div><!-- navbar-menu-header -->
    <ul class="nav navbar-menu">

      <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>


      <% if (powers?.includes('admin')) { %>


        <li class="nav-item  <%= page == 'dashboard' ? 'active' : '' %>">
          <a href="/admin" class="nav-link"><i data-feather="pie-chart"></i> Dashboard</a>
        </li>


        <% } %>
          <% if (powers?.includes('accounts')|| powers?.includes('AccountsWithReporting')){ %>


            <li class="nav-item  <%= page == 'dashboard' ? 'active' : '' %>">
              <a href="/account/account" class="nav-link"><i data-feather="pie-chart"></i> Dashboard</a>
            </li>


            <% } %>

              <% if (powers?.includes('amazon') ||powers?.includes('AmazonWithReporting')) { %>

                <li class="nav-item  <%= page == 'dashboard' ? 'active' : '' %>">
                  <a href="/amazon" class="nav-link"><i data-feather="pie-chart"></i> Dashboard</a>
                </li>


                <% } %>




                  <% if (powers?.includes('amazon') || powers?.includes('AmazonWithReporting')) { %>


                    <li class="nav-item <%= page == 'distiListing' ? 'active' : '' %>">
                      <a href="/amazon/" class="nav-link"><i data-feather="pie-chart"></i>Orders</a>
                    </li>


                    <% } %>

                      <% if (powers?.includes('accounts')||powers?.includes('AccountsWithReporting')){ %>


                        <li class="nav-item <%= page == 'distiListing' ? 'active' : '' %>">
                          <a href="/account/account" class="nav-link"><i data-feather="pie-chart"></i>Orders</a>
                        </li>

                        <% } %>
    </ul>
  </div><!-- navbar-menu-wrapper -->
  <div class="navbar-right">
    <div class="dropdown dropdown-profile">
      <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
        <div class="avatar avatar-sm"><img src="https://picsum.photos/200" class="rounded-circle" alt=""></div>
      </a><!-- dropdown-link -->
      <div class="dropdown-menu dropdown-menu-right tx-13">
        <h6 class="tx-semibold mg-b-5">
          <%= user?.name %>
        </h6>
        <p class="mg-b-25 tx-12 tx-color-03" >
          <%= (user?.role)?.toUpperCase() %>
        </p>
        <a href="/<%= user.role %>/profile" class="dropdown-item"><i data-feather="user"></i> View Profile</a>
        <div class="dropdown-divider"></div>
        <a href="/auth/logout" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div><!-- navbar-right -->
</header><!-- navbar -->